.select_component {
  height: 100%;
  & ~ .date_wrapper {
    margin-left: 20px;
  }
  .select__control--is-focused {
    box-shadow: none;
    border: 1px solid transparent;
    .indicator_active {
      svg {
        -webkit-transform: rotate(180deg);
        -moz-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
        -o-transform: rotate(180deg);
        transform: rotate(180deg);
      }
    }
  }
  .select__value-container {
    padding: 0;
  }

  .select__control {
    min-height: 25px;
    height: 100%;
    background-color: transparent;
    color: #ffffff!important;
    font-family: "GothaProMed",sans-serif!important;
    font-size: 10px;
    border: 1px solid transparent;
    border-radius: 0;
    &:hover {
      cursor: pointer;
      border: 1px solid transparent;

    }
    .select__placeholder {
      color: #ffffff;
    }
    .select__single-value {
      color: #ffffff;
      font-size: 14px;
      margin: 0;

    }
    .select__input {
      color: #ffffff;
      font-family: "GothaProReg",sans-serif;
      font-size: 14px;
      input {
        font-size: 14px;
      }
    }
    .select__indicator-separator {
      background: none;
    }
    .select_indicator {
      display: flex;
      align-items: center;
      justify-content: center;
      svg {
        fill: #ffffff;
        font-size: 14px;
        -webkit-transition: all 0.3s linear;
        -moz-transition: all 0.3s linear;
        -ms-transition: all 0.3s linear;
        -o-transition: all 0.3s linear;
        transition: all 0.3s linear;
      }
    }
    .select__loading-indicator {
      span {
        background-color: transparent;
      }
    }
    .select_close_btn {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 8px;
      cursor: pointer;
      svg {
        fill: #ffffff;
        font-size: 14px;
      }
    }
  }
  .select__menu {
    z-index: 9999;
    background: transparent;
    box-shadow: none;
    .select__menu-list {
      font-family: "GothaProReg", sans-serif;
      color: #ffffff;
      font-size: 14px;
      background: transparent;
      padding: 0;
      .select__option{
        background: transparent;
        color: #ffffff;
        cursor: pointer;
        padding: 8px 0;
        &:hover{
          color: #ffffff;
          background: transparent;
        }
      }

      .status_select{
        padding: 0;
        display: flex;
        align-items: center;
        background: transparent;
        &:hover{
          background: transparent;
          color: #ffffff;
          font-size: 14px;
        }
      }

    }
  }
}

.select_wrapper{
  width: 75px;
  height: 25px;
}
.status_select{
  display: flex;
  align-items: center;

}



